* {
  box-sizing: border-box;
  
}
#header-nav {
	background-color: darkgray;
	border-radius: 0;
	border: 0;
}

.col-xs-12 h4 {
	text-align: center;
	font-size: 1,5em;
	font-weight: bold;
}

.col-xs-12 p {
	text-align: justify;
}

.col-xs-12 {
	background-color: darkgray;
	margin: 10px 10px 20px;
	height: 1000px;
	font-weight: bold;
}

h1 {
	  font-weight: bold;
}

body {
  font-size: 16px;
}

.navbar-brand {
  padding-top: 25px;
  height: auto;
}

.navbar-brand h1 { 
  color: black;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;

}
.navbar-brand a:hover {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}




.navbar-default .navbar-toggle{
	border-color: black;
}

button.navbar-toggle, .icon-bar {
  border: 2px solid black;

}

.navbar-default .navbar-toggle:focus{
	border-color: white;
}


